body {
    background-color: rgb(201, 255, 232);
    text-align: center;
}

h1 {
    color: darkblue;
    text-decoration: underline;

}

h2 {
    font-family: Arial;
    color: darkblue;
    text-decoration: wavy underline;
}


a {
    font-family: Arial;
    color: navy;
    text-decoration: none;
}

a:hover {
    color: red;
}

.para {
    font-family: Arial;
    color: navy;
}

